# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
permis.ipynb
.vscode/settings.json
extract_questions.py
extract_questions_with_images.py
extraction_report.json
manuel2.pdf
merge_questions.py
questions_extracted.json
questions_final.json
questions_merged.json
questions_reponses.json.backup
questions_to_review.json
